body {
   
}

#search_btn {
    margin-top: 2em;
}

.logo {
    /*width: 70%;*/
    padding: 1em;
}

h5 {
    text-transform: uppercase;
}


h1,h2,h3,h4,h5,h6 {
     font-family: 'Merienda One', cursive;
    font-weight: 900;
    letter-spacing: -5px;
    font-size: 6em;

}

nav .row{
    padding: 0;
    margin: 0;
}
#askBox{
    margin-top: 1em;
    height: 63vh;
    
}
form{
    margin: 2em;
    padding: 2em;
}
form p{
    
    padding: 1em;
}
 [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static;
    left: 0px; 
    opacity: 1; 
  }

